@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body {
  font-family: 'Hanna', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

/* Utilities CLasses */
.container {
  max-width: 1440px;
  margin-inline: auto;
}

.magenta {
  color: #ff0066;
}

.yellow {
  color: #f8e71c;
}

/* Layout */

/* Header */
.site-header {
  padding: 1.875em 0;
  border-bottom: 1px solid #cccccc;
  margin: 0 1.875em;
}

.header-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.site-branding {
  display: flex;
  align-items: center;
  height: 100%;
}

.active {
  color: #ccc;
}

.logo {
  width: 5rem;
  height: 6.8rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 46px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

.language-select {
  font-size: 0.75rem;
}

/* Hero */
.hero {
  padding: 8.8em 8.8em 3.1em 8.8em;
  background-image: url('../assets/intro-bg.svg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.hero-inner {
  text-align: center;
}

.hero-text {
  font-size: 11.25rem;
  line-height: 1;
  color: #ff0066;
  text-transform: lowercase;
}

.hero-description {
  margin-top: 8.6em;
  font-size: 1.25rem;
  text-transform: lowercase;
}

.hero-sitename {
  color: #000;
}

/* Intro */
.intro {
  padding: 19.3rem 16.8rem;
  background-image: url(../assets/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro-inner {
  text-align: center;
  color: #fff;
}

.intro-title {
  font-size: 1.25rem;
  border-bottom: 3.5px solid #fff;
  line-height: 1;
  display: inline-block;
  text-transform: lowercase;
}

.intro-description p {
  margin: 0;
  font-size: 3.125rem;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  line-height: 1.1;
}

/* Menu */

.menu-list-title,
.direction-title {
  text-align: center;
  font-size: 1.25rem;
  padding: 3.125rem 0;
  border-bottom: solid 1px #cccc;
  margin-bottom: 3.125rem;
  text-transform: lowercase;
}

.menu-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 3.125rem;
  max-width: 76.25rem;
  margin-inline: auto;
}

.entry-header {
  padding: 1.25rem;
  background-color: #ff0066;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  line-height: 1;
  position: relative;
  margin-top: 3.5em;
}

.entry-title {
  text-transform: lowercase;
}

.entry-title,
.entry-price > p {
  margin: 0;
  color: #fff;
  font-size: 1rem;
  position: relative;
  z-index: 2;
}

.entry-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
  color: #ff0066;
  border-radius: 100%;
  border: 20px solid #ff0066;
  background: #fff;
  width: 120px;
  height: 120px;
}

/* Directions */

.direction {
  padding: 0 1rem;
}

.location-description {
  max-width: 27.5rem;
}
.location-description h3 {
  font-size: 0.75rem;
  margin: 0;
}

.locations {
  display: flex;
  max-width: 76.25rem;
  margin: 0 auto;
  align-items: center;
  gap: 7.5rem;
  margin-bottom: 3rem;
}

.map-inner iframe {
  width: 38.75rem;
  border: none;
  height: 36.25rem;
}

/* Footer */
.site-footer {
  border-top: solid 1px #cccc;
  padding: 0 1rem;
  padding-top: 3.125rem;
}

.site-info {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.875rem;
  font-family: sans-serif;
}

.social-media-links {
  display: flex;
  gap: 20px;
}

/* Media Query */
@media (max-width: 1100px) {
  .hero-text {
    font-size: 3.5rem;
  }

  .hero-description {
    font-size: 1.3125rem;
  }

  .intro {
    padding: 5.3rem 8.8rem;
  }

  .intro-description {
    font-size: 2.25rem;
  }

  .entry-number {
    width: 80px;
    height: 80px;
  }

  .entry-header {
    margin-top: 1.5em;
  }

  .map-inner iframe {
    width: 32.75rem;
    height: 30.25rem;
  }

  .locations {
    gap: 3.5rem;
  }
}

@media (max-width: 768px) {
  .menu-list-grid {
    grid-template-columns: 1fr;
    max-width: 30.25rem;
  }
  .locations {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .menu {
    gap: 20px;
  }
  .logo {
    width: 3.125rem;
    height: 4.1875rem;
  }
  .hero {
    padding: 8.8em 2.5em 3.1em 2.5em;
  }
  .hero-description {
    max-width: 20rem;
    margin: 0 auto;
  }
  .container {
    max-width: 480px;
  }
  .intro {
    padding: 8.84375rem 1rem;
  }

  .menu-list-grid {
    max-width: 25.25rem;
  }

  .map-inner {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .map {
    width: 100%;
  }
  .map-inner iframe {
    height: 400px;
  }

  .site-info {
    flex-direction: column;
    text-align: center;
  }
  .social-media-links {
    justify-content: center;
  }
}
